<div class="bg-white">
    <div class="pt-6">
      <nav aria-label="Breadcrumb">
        <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
          <li>
            <div class="flex items-center">
              <a routerLink="/" class="mr-2 text-sm font-medium text-gray-900">Heroes</a>
              <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true" class="h-5 w-4 text-gray-300">
                <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
              </svg>
            </div>
          </li>  
          <li class="text-sm">
            <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">{{hero?.nickname}}</a>
          </li>
        </ol>
      </nav>
  
      <!-- Image gallery -->
      <div class="mx-auto mt-6 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-1 lg:gap-x-8 lg:px-8 h-[300px] object-cover">
          <div class="aspect-h-12 aspect-w-12 overflow-hidden rounded-lg">
            <img src="{{getImage(hero.id, hero.picture)}}" alt="{{hero.nickname}}" onerror="src='assets/images/heroes/generic.jpg'" class="h-full w-full object-cover object-center">
          </div>
      </div>
  
      <!-- Product info -->
      <div class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
        <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
          <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">{{hero.nickname | titlecase}}</h1>
        </div>
  

  
        <button routerLink="/edit-hero/{{hero.id}}" type="button" class="mt-5 h-12 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Edit Hero</button>
        

        <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
          <!-- Description and details -->
          <div>
            <h3 class="sr-only">Real name:</h3>
  
            <div class="space-y-6">
              <p class="text-base text-gray-900">{{hero.name | titlecase}}</p>
            </div>
          </div>
  
          <div class="mt-10">
            <h3 class="text-sm font-medium text-gray-900">Description:</h3>
  
            <div class="mt-4">
              <p class="list-disc space-y-2 pl-4 text-sm">
                {{hero.description}}
              </p>
            </div>
          </div>

          

        </div>
        <button (click)="openDialog('500ms','500ms',hero.nickname, hero.id)" type="button" class="mt-5 h-12 flex w-full items-center justify-center rounded-md border border-transparent bg-red-600 px-8 py-3 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">Delete Hero</button>
      </div>
    </div>
  </div>