<app-header></app-header>

<div class="bg-white">
    @if(hero){
    <div class="pt-[150px]">

      
      <div class="grid grid-cols-2 ml-20 mr-20">
        <!-- Product info -->
        <div class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
          <div class="lg:border-r lg:border-gray-200 lg:pr-8">
            <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">{{hero.nickname | titlecase}}</h1>
          </div>
          <div class="py-10 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
            <!-- Description and details -->
            <div>
              <h3 class="sr-only">Real name:</h3>
              <div class="space-y-6">
                <p class="text-base text-gray-900">{{hero.name | titlecase}}</p>
              </div>
            </div>
            <div class="mt-10">
              <h3 class="text-sm font-medium text-gray-900">Description:</h3>
              <div class="mt-4">
                <p class="list-disc space-y-2 pl-4 text-sm">
                  {{hero.description}}
                </p>
              </div>
            </div>
          </div>
          <div class="row-span">
            <button routerLink="/edit-hero/{{hero.id}}" type="button" class="mt-5 mr-10 h-12 items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Edit Hero</button>
            <button (click)="openDialog('500ms','500ms',hero.nickname, hero.id)" type="button" class="mt-5 h-12 items-center justify-center rounded-md border border-transparent bg-red-600 px-8 py-3 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">Delete Hero</button>
          </div>
        </div>

        <!-- Image gallery -->
        <div class="mx-auto mt-6 sm:px-6 lg:grid lg:max-w-7xl lg:px-8 h-[500px] object-cover">
          <div class="aspect-h-12 aspect-w-12 overflow-hidden rounded-lg">
            <img src="{{getImage(hero.id, hero.picture)}}" alt="{{hero.nickname}}" onerror="src='assets/images/heroes/generic.jpg'" class="h-full w-full object-cover object-center">
          </div>
        </div>
      </div>

    </div>
    } @else {
      <div class="pt-[150px]">
        <div class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
          <h1>Hero not found</h1>
          <p>Opps, we are unable to reach the requested hero.</p>
        </div>  
      </div>
    }
  </div>