<app-header [formValue]="formValue" (formValueChange)="getFormAction($event)"></app-header>

<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="mt-20">
      @if(loading) {
        <!-- LOADING SPINNER -->
        <div class="h-screen flex items-center justify-center">
          <mat-spinner></mat-spinner>
        </div>
        <!-- LOADING SPINNER END -->
        } @else {
      <!-- GRID -->
        <div class="mb-20 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
          @for(hero of heroes$ | async; track hero) {
              <div class="block max-w-[18rem] rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                <div class="relative overflow-hidden bg-cover bg-no-repeat cursor-pointer" routerLink="/hero/{{hero.id}}">
                  <img
                    class="rounded-t-lg h-[200px] w-[100%] object-cover"
                    src="{{getImage(hero.id,hero.picture)}}" 
                    onerror="src='/assets/images/heroes/generic.jpg'" 
                    alt="{{hero.name}}" 
                    alt=""
                    />
                </div>
                <div class="p-6 cursor-pointer" routerLink="/hero/{{hero.id}}">
                  <h2>{{hero.nickname}}</h2>
                  <h5
                    class="text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                    {{hero.name}}
                  </h5>
                </div>
                <div class="p-6 pt-0">
                  <a
                    type="button"
                    routerLink="/edit-hero/{{hero.id}}"
                    class="items-center pointer-events-auto mr-5 inline-block cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 hover:text-green-600">
                    <mat-icon class="text-base" style="display: inline" aria-hidden="false" aria-label="add edit" fontIcon="edit" title="Edit hero"></mat-icon> Edit
                  </a>
                  <a
                    type="button"
                    role="button" 
                    tabindex="0" 
                    (keypress)="openDialog('150ms','150ms', hero.nickname, hero.id)"
                    (click)="openDialog('150ms','150ms', hero.nickname, hero.id)"
                    class="pointer-events-auto inline-block cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 hover:text-red-600">
                    <mat-icon class="text-base" style="display: inline" aria-hidden="false" aria-label="add delete" fontIcon="delete" title="Delete hero"></mat-icon> Delete
                  </a>
                </div>
              </div>
            } @empty {
            <div class="w-max p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
              <span class="font-medium">Hero not found!</span><br> Sorry we can't reach any hero matching with: <b>{{formValue}}</b> <br> Check over the search string and try again.
            </div>
          }
        </div>
      <!-- GRID END-->
      @if(total) {
      <div class="paginator">
        <mat-paginator
            #paginator
            [length]="total"
            [pageSize]="pageSize"
            [pageIndex]="currentPage-1"
            (page)="pageChanged($event)"
            aria-label="Select page">
        </mat-paginator>
      </div>
      }

      } 
    </div>
  </div>
</div>